.wholePage
{
	background-color:black;
	
	margin-top: -40px;
	padding-bottom: 60px;



}

#heading
{
	text-align: center;
	color: white;
}


.table
{
	background-color:white;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}




.foot
{
	color:black;

}

.footer
{
        font-size:1em;
        text-align: center;
        color: white;
        margin-top: 15px;
        margin-bottom: 35px;
        padding-bottom: 20px;
        
}